---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/pet/39?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 4 Nov 2020 04:47:04 GMT
      Battlenet-Namespace:
      - static-9.0.1_36072-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - e0fb9423-27ef-32d8-9aeb-f4f04e589443
      x-trace-spanid:
      - 164331ea-1a1e-9600-3f30-fa165ae5e88b
      x-trace-parentspanid:
      - 164331ea-1a1e-95d0-3f30-fa165ae5e88b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/pet/39?namespace=static-9.0.1_36072-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/inv_pet_mechanicalsquirrel.jpg","file_data_id":656559}],"id":39}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/pet/39?namespace=static-eu&locale=en_gb
  recorded_at: Wed, 04 Nov 2020 20:41:45 GMT
recorded_with: VCR 2.9.3
