---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/pet-ability/110?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 4 Nov 2020 04:46:57 GMT
      Battlenet-Namespace:
      - static-9.0.1_36072-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - ab11b4b4-d8ba-39b3-9ebb-e8dae36eeec6
      x-trace-spanid:
      - 16433367-6dc2-e860-47b4-fa165b31975b
      x-trace-parentspanid:
      - 16433367-6dc2-e830-47b4-fa165b31975b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/pet-ability/110?namespace=static-9.0.1_36072-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/ability_druid_ferociousbite.jpg","file_data_id":132127}],"id":110}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/pet-ability/110?namespace=static-eu&locale=en_gb
  recorded_at: Wed, 04 Nov 2020 20:51:55 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/pet-ability/111?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EU4Ng6K5Cd8jhIzjekBe1PG3zfSD0pGtXO
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 4 Nov 2020 04:46:57 GMT
      Battlenet-Namespace:
      - static-9.0.1_36072-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 30e32b3b-6769-32b3-9ac4-ba36f1d66ebb
      x-trace-spanid:
      - 164333bc-caf5-0d20-40c1-fa165bf7dfd9
      x-trace-parentspanid:
      - 164333bc-caf5-0cf0-40c1-fa165bf7dfd9
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/pet-ability/111?namespace=static-9.0.1_36072-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/ability_rogue_kidneyshot.jpg","file_data_id":132298}],"id":111}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/pet-ability/111?namespace=static-eu&locale=en_gb
  recorded_at: Wed, 04 Nov 2020 20:51:55 GMT
recorded_with: VCR 2.9.3
