---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pet-ability/112?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 4 Nov 2020 04:48:18 GMT
      Battlenet-Namespace:
      - static-9.0.1_36072-eu
      Battlenet-Schema:
      - pet-ability
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 6f39a3f5-a781-3481-9ef9-7e6cb2e31ba3
      x-trace-spanid:
      - 16433363-2b51-3650-ca85-fa165bdb9da9
      x-trace-parentspanid:
      - 16433363-2b51-3620-ca85-fa165bdb9da9
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/112?namespace=static-9.0.1_36072-eu"}},"id":112,"name":"Peck","battle_pet_type":{"id":2,"type":"FLYING","name":"Flying"},"rounds":1,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/pet-ability/112?namespace=static-9.0.1_36072-eu"},"id":112}}'
      effective_url: https://eu.api.blizzard.com/data/wow/pet-ability/112?namespace=static-eu&locale=en_gb
  recorded_at: Wed, 04 Nov 2020 20:46:38 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pet-ability/110?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EU4Ng6K5Cd8jhIzjekBe1PG3zfSD0pGtXO
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 4 Nov 2020 04:48:18 GMT
      Battlenet-Namespace:
      - static-9.0.1_36072-eu
      Battlenet-Schema:
      - pet-ability
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 9c6459cc-7297-3778-beb6-99bd22d4cb73
      x-trace-spanid:
      - 164332fc-cc2a-5cf0-6901-fa165af742cd
      x-trace-parentspanid:
      - 164332fc-cc2a-5cc0-6901-fa165af742cd
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/110?namespace=static-9.0.1_36072-eu"}},"id":110,"name":"Bite","battle_pet_type":{"id":7,"type":"BEAST","name":"Beast"},"rounds":1,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/pet-ability/110?namespace=static-9.0.1_36072-eu"},"id":110}}'
      effective_url: https://eu.api.blizzard.com/data/wow/pet-ability/110?namespace=static-eu&locale=en_gb
  recorded_at: Wed, 04 Nov 2020 20:46:38 GMT
recorded_with: VCR 2.9.3
