---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pet-ability/110?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 4 Nov 2020 04:48:18 GMT
      Battlenet-Namespace:
      - static-9.0.1_36072-eu
      Battlenet-Schema:
      - pet-ability
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 689a9d3d-352d-3bf8-a087-be69cc14a0c1
      x-trace-spanid:
      - 16433363-2b24-72f0-ca85-fa165bdb9da9
      x-trace-parentspanid:
      - 16433363-2b24-72c0-ca85-fa165bdb9da9
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/110?namespace=static-9.0.1_36072-eu"}},"id":110,"name":"Bite","battle_pet_type":{"id":7,"type":"BEAST","name":"Beast"},"rounds":1,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/pet-ability/110?namespace=static-9.0.1_36072-eu"},"id":110}}'
      effective_url: https://eu.api.blizzard.com/data/wow/pet-ability/110?namespace=static-eu&locale=en_gb
  recorded_at: Wed, 04 Nov 2020 20:45:46 GMT
recorded_with: VCR 2.9.3
